@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banking Loan System</h1>
    <p><a href="/Bank" class="btn btn-primary btn-lg">View Banks &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Banking Loan System gives you a powerful way to keep track of the credit risks of trading
            with other banks. Simply set your base limit for all approved banks and Banking Loan System 
            will calculate the suggested limit to trade for each bank. The suggested limit is decided by
            2 main factors: the bank's rating and it's total assets. 
        </p>
        <p><a class="btn btn-default" href="/">Get Started &raquo;</a></p>
    </div>
</div>